@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.tube__wrapper {
  perspective: 1000px;
  position: absolute;
  height: 100vh;
}

.tube__ellipse {
  width: 100vw;
  max-height: fit-content;
  transform-style: preserve-3d;
}

.tube__text__wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
}

.tube__text__item {
  position: absolute;
  transform-origin: center;
  white-space: nowrap;
  font-size: 1rem;
}

.focused-img-container {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  width: 300px;
  height: 350px;
  border-radius: 8px;
  border: 2px solid red;
  pointer-events: none;
}

.display-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 40vw;
  max-height: 40vh;
  object-fit: contain;
  display: flex;
}


#focused-img {
  max-height: 50%;
  object-fit: contain;
}

.center-title {
  text-align: center;
  margin-top: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  pointer-events: none;
}

.focus-layer {
  display: inline-block;
  transform-origin: center;
}

@media screen and (max-width: 600px) {
  .focused-img-container {
    width: 40vw;
    height: 20vh;
  }

}

